@import "../../variables.scss";

.header__cart__profile__dropDownMenu {
    display: none;
    z-index: 2;
    position: absolute;
    top: 3.8em;
    left: -6.2em;
    color: black;
    width: 15em;
    height: 18em;
    box-shadow: 0px 0px 10px;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-bottom-color: white;
        border-top: 0;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.moveLeft {
    left: -6.6em;
}

.header__profile {
    position: relative;
    color: $secondary-color;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    border: #5d5d5d solid 2px;
    border: solid 2px $secondary-color;
    border-radius: $circle-border;
    padding: 6px;

    &:hover .header__cart__profile__dropDownMenu {
        display: block;
    }
}

.header__profile__signButton {
    color: $secondary-color;
    background-color: $primary-color;
    font-size: $xxlarge;
    margin: 0.35em auto 1.5em auto;
    padding: 0.25em;
}

.header__profile__profileInfo {
    display: block;
    color: $primary-color;
    background-color: $secondary-color;
    font-size: $xxlarge;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25em;
}
