@import "../../variables.scss";

.header__cart {
    position: relative;
    color: $secondary-color;
    cursor: pointer;
    &:hover .header__cart__profile__dropDownMenu {
        display: block;
    }
}

.header__cart__items {
    position: absolute;
    right: -6px;
    top: -10px;
    background: white;
    border-radius: $circle-border;
    font-size: $xsmall;
    width: 17px;
    text-align: center;
    color: black;
}

.header__cart__profile__dropDownMenu {
    display: none;
    z-index: 2;
    position: absolute;
    top: 3.8em;
    left: -6.2em;
    color: black;
    width: 15em;
    height: 18em;
    box-shadow: 0px 0px 10px;
    text-align: center;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-bottom-color: white;
        border-top: 0;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.borderNone {
    border: none;
}

.header__cart__checkoutButton {
    color: $primary-color;
    background-color: $secondary-color;
    font-size: $xlarge;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

.header__cart__empty {
    display: block;
    margin: 1.5em auto 0 auto;
    font-size: $xlarge;
    color: $secondary-color;
    background-color: $primary-color;
    padding: 0.5em;
}
