@import "../variables.scss";

.hidden {
    visibility: hidden;
}

.header__colorizer {
    width: 100%;
    height: 80px;
    background-color: $primary-color;
}

.header__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navButton {
    line-height: 76px;
    color: white;
    font-size: $large;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 4px solid $primary-color;
    &:hover {
        border-bottom-color: $secondary-color;
    }
}
