.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24x;
}

.fas.fa-shopping-cart {
    font-size: 28px;
}

.fas.fa-tasks {
    font-size: 22px;
}

// site's colors
$primary-color: #db137f;
$secondary-color: #f6cd54;

// circle borders
$circle-border: 50%;

// font-sizes
$xsmall: 0.75em; // 12px;
$small: 0.875em; // 14px;
$basic: 1em; // 16px;
$medium: 1.125em; // 18px;
$large: 1.25em; // 20px;
$xlarge: 1.5em; // 24px;
$xxlarge: 2.125em; // 34px;
$huge: 2.625em; // 42px;
